<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品</title>
</head>



<body>

    <a href="/">返回</a>

    <div style="width: 500px; margin: 0 auto;flex-direction: column;display: flex;align-items: center;text-align: center;gap: 30px">
        <div style="gap: 20px;display: flex;flex-direction: column">
            <img th:src="${goods.image}" alt="商品图片"
                 style="width:500px;height:auto;"
                 onerror="this.src='/images/default.jpg'; this.onerror=null;">

            <h1>商品名称： <span th:text="${goods.name}"></span>名字</h1>

            <!-- p 块元素
                 span 行元素 -->
            <p>价格： <span th:text=" ${goods.price} + '元' " ></span></p>
            <p>商品描述： <span th:text="${goods.detail}"></span></p>
        </div>

        <div>评价：</div>
        <div>相关推荐：</div>

        <div style="">
            <button type="submit" style="padding: 8px 16px;">加入购物车</button>

            <a th:href="@{/goods/{id}/buy(id=${goods.id})}" style="padding: 8px 16px;">购买</a>
        </div>

    </div>

</body>
</html>